body{
   margin: 0;
   padding: 0;
   background: #F8F8F8;
}

/* Navbar Section */
.navbar{
  height: 100px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 3px 2px rgba(10,10,10,0.4);
  -webkit-box-shadow: 0px 1px 3px 2px rgba(10,10,10,0.4);
  -moz-box-shadow: 0px 1px 3px 2px rgba(10,10,10,0.4);
  background-color: white;
}

.navbar .left-nav{
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar .left-nav .brand-icon img{
  width: 75px;
  height: 75px;
  margin-right: 40px;
}

.navbar .left-nav .nav-links a{
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #0A0A0A;
  margin: 0 20px;
  font-family: 'Open Sans', sans-serif;
}
.navbar .right-nav .nav-links a{
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #0A0A0A;
  margin: 0 20px;
  font-family: 'Open Sans', sans-serif;
}

/* Hero Section */
.hero-section{
  position: relative;
}
.hero-section .hero-image{
  width: 100%;
  height: 700px;
  object-fit: cover;
  z-index: 0;
}
.hero-section .hero-text .hero-title{
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 300px;
  left: 5%;
  z-index: 1;
  font-size: 70px;
  margin: 0;
  font-weight: 900;
}
.hero-section .hero-text .hero-desc{
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 400px;
  left: 5%;
  z-index: 1;
  font-size: 30px;
  margin: 0;
  font-weight: normal;
}
/* Container */
.container{
  margin: 50px;
  padding: 0 5%;
}
/* Section Cards */
.section-cards{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-cards .card{
  width: 30%;
}
.section-cards .card img{
  width: 100%;
  border-radius: 8px;
  height: 400px;
  object-fit: cover;
}
.section-cards .card .content h2{
  font-size: 24px;
  font-weight: bold;
  color: #0A0A0A;
  font-family: 'Open Sans', sans-serif;
}
.section-cards .card .content p{
  font-size: 20px;
  font-weight: normal;
  color: #0A0A0A;
  font-family: 'Open Sans', sans-serif;
}
.section-cards .card .content a{
  font-size: 20px;
  font-weight: normal;
  color: #0A0A0A;
  font-family: 'Open Sans', sans-serif;
}

/* Section footer */
.section-footer{
  background-color: white;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.section-footer p {
  font-size: 14px;
  font-weight: normal;
  color: #0A0A0A;
  font-family: 'Open Sans', sans-serif;
}
